@import "variables.css";

.form-wrapper {
  width: 100%;
  min-height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  margin: 0 auto;
  transform: translate(-50%, 0);
  background: var(--white-color);
  box-shadow: 0 10px 40px rgba(14, 42, 90, 0.5);
  z-index: 0;
}

.card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding: 145px 50px 0;
  color: var(--black-color);
}

.card-label {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.card-form_row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.horizontal-aligning {
  display: flex;
  justify-content: space-between;
}

.card-input_number {
  width: 20%;
  height: 30px;
  padding: 0 5px;
}

.card-input_number::-webkit-outer-spin-button,
.card-input_number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.card-input_number[type=number] {
  -moz-appearance: textfield;
}
@media only screen and (min-width: 420px) {
  .form-wrapper {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .form-wrapper {
    width: 60%;
    margin: 0 auto;
  }
}


