@import "variables.css";

* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px bold Helvetica;
  background: var(--main-purple-color);
  color: var(--main-light-color);
}
.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  padding: 30px 0;
  z-index: 1;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 230px;
  margin: auto;
  background: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=760&h=350") no-repeat center center;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(14, 42, 90, 0.5);
  z-index: 1;
;
}

.card-header,
.card-number,
.card-content {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}

.card-header {
  min-height: 50px;
}

.img-card_chip {
  width: 50px;
}

.img-card_logo {
  width: 80px;
}

.card-number {
  font: 1.8rem bold Helvetica;
  cursor: pointer;
}

.card-content_name,
.card-content_date {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font: 1rem bold Helvetica;
  cursor: pointer;
}

.card-content_name span:nth-child(1),
.card-content_date span:nth-child(1) {
  font: 0.6rem Helvetica;
}

.card-content_item {
  margin: 3px 0;
}

@media only screen and (min-width: 420px) {
  .card-wrapper {
    width: 385px;
  }
}

